---
layout: _page-base.njk
---

<section class="section-404 container">
	<h1 class="vh">{{ heading }}</h1>

	<p class="section-404__text">{{ text + ' ' }}<a href="{{ buttonLink }}">{{ buttonText }}</a></p>

	<div class="section-404__img">
		<img src="{{ img }}" alt="{{ alt }}">
	</div>
</section>
