*.log
*.scssc
*.swp
.DS_Store
.cache
.env
.eslintcache
.firebase
.idea
.node_repl_history
.npm
.sass-cache
.tmp
.vscode
Thumbs.db
_dist
_site
dist
logs
node_modules
npm-debug.*
npm-debug.log*
site
source
yarn-debug.log*
yarn-error.log*
